.about-container {
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
  }
  
  .about-item-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 1000px;
  }
  
  .about-item {
    padding: 10px;
    text-align: center;
  }
  
  .about-item p {
    color: #f7daf7;
    text-shadow: 2px 2px 20px #861186;
    margin-top: 50px;
    font-size: 20px;
  }
  
  .about-item h1 {
    color: #f7daf7;
    text-shadow: 2px 2px 20px #dfafdf;
    margin-top: 50px;
    font-size: 40px;
  }
  
  .about-img {
    height: 250px;
    width: 250px;
    margin: 50px;
  }
  